body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* Float columns side by side */
.column {
  float: right;
  width: 34%;
  padding: 0 10px;
  margin: 20px;
}

/* remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  justify-content: center;
}
.column {margin: 0 -5px}

/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* card styling */
.card {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  align-items: center;
  background-color: #D1D593;
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
}

h2 {
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 50px;

  }
}

.card:hover{
  transform: scale(1.07);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

.CardHeader {
  text-align: center;
  padding-top: 15px;
}